# Dependencies
node_modules/

# IDE
.idea/

# Misc
.env
.DS_Store

# Package manager
npm-debug.log*
yarn-debug.log*
yarn-error.log*

branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
